In [72]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [73]:
Hotel_data = pd.read_csv("./Data/Hotel Reservations.csv")
Hotel_data.head(5)

,Booking_ID,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
0,INN00001,2,0,1,2,Meal Plan 1,0,Room_Type 1,224,2017,10,2,Offline,0,0,0,65.00,0,Not_Canceled
1,INN00002,2,0,2,3,Not Selected,0,Room_Type 1,5,2018,11,6,Online,0,0,0,106.68,1,Not_Canceled
2,INN00003,1,0,2,1,Meal Plan 1,0,Room_Type 1,1,2018,2,28,Online,0,0,0,60.00,0,Canceled
3,INN00004,2,0,0,2,Meal Plan 1,0,Room_Type 1,211,2018,5,20,Online,0,0,0,100.00,0,Canceled
4,INN00005,2,0,1,1,Not Selected,0,Room_Type 1,48,2018,4,11,Online,0,0,0,94.50,0,Canceled

In [74]:
Hotel_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36275 entries, 0 to 36274
Data columns (total 19 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Booking_ID                            36275 non-null  object
 1   no_of_adults                          36275 non-null  int64
 2   no_of_children                        36275 non-null  int64
 3   no_of_weekend_nights                  36275 non-null  int64
 4   no_of_week_nights                     36275 non-null  int64
 5   type_of_meal_plan                     36275 non-null  object
 6   required_car_parking_space            36275 non-null  int64
 7   room_type_reserved                    36275 non-null  object
 8   lead_time                             36275 non-null  int64
 9   arrival_year                          36275 non-null  int64
 10  arrival_month                         36275 non-null  int64
 11  arrival_date                          36275 non-null  int64
 12  market_segment_type                   36275 non-null  object
 13  repeated_guest                        36275 non-null  int64
 14  no_of_previous_cancellations          36275 non-null  int64
 15  no_of_previous_bookings_not_canceled  36275 non-null  int64
 16  avg_price_per_room                    36275 non-null  float64
 17  no_of_special_requests                36275 non-null  int64
 18  booking_status                        36275 non-null  object
dtypes: float64(1), int64(13), object(5)
memory usage: 5.3+ MB

In [75]:
Hotel_data = Hotel_data[Hotel_data["type_of_meal_plan"] != "Meal Plan 3"]
Hotel_data.shape

(36270, 19)

In [76]:
Hotel_data["arrival_date"] = Hotel_data.apply(lambda x: str(x['arrival_year']) + "-" +str(x['arrival_month']) +  "-" +str(x['arrival_date']), axis=1)
Hotel_data.head()

,Booking_ID,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
0,INN00001,2,0,1,2,Meal Plan 1,0,Room_Type 1,224,2017,10,2017-10-2,Offline,0,0,0,65.00,0,Not_Canceled
1,INN00002,2,0,2,3,Not Selected,0,Room_Type 1,5,2018,11,2018-11-6,Online,0,0,0,106.68,1,Not_Canceled
2,INN00003,1,0,2,1,Meal Plan 1,0,Room_Type 1,1,2018,2,2018-2-28,Online,0,0,0,60.00,0,Canceled
3,INN00004,2,0,0,2,Meal Plan 1,0,Room_Type 1,211,2018,5,2018-5-20,Online,0,0,0,100.00,0,Canceled
4,INN00005,2,0,1,1,Not Selected,0,Room_Type 1,48,2018,4,2018-4-11,Online,0,0,0,94.50,0,Canceled

In [77]:
Hotel_data.loc[Hotel_data["arrival_date"] == "2018-2-29"]['arrival_date'] = 28

Hotel_data["arrival_date"] = pd.to_datetime(Hotel_data["arrival_date"]).dt.date
Hotel_data["arrival_date"].head()

0    2017-10-02
1    2018-11-06
2    2018-02-28
3    2018-05-20
4    2018-04-11
Name: arrival_date, dtype: object

In [78]:
cat = ['type_of_meal_plan', 'room_type_reserved', 'market_segment_type']
cols_to_remove = ["arrival_year","arrival_month"]
spl_col = ['avg_price_per_room', 'lead_time']

In [79]:
for col in cols_to_remove:
    Hotel_data.drop(col, axis=1, inplace=True)

In [80]:
from sklearn.preprocessing import OrdinalEncoder
ord_enc = OrdinalEncoder(handle_unknown='use_encoded_value', unknown_value=-1)

In [81]:
Hotel_data[cat] = ord_enc.fit_transform(Hotel_data[cat])

In [82]:
Hotel_data[cat].head()

   type_of_meal_plan  room_type_reserved  market_segment_type
0                0.0                 0.0                  3.0
1                2.0                 0.0                  4.0
2                0.0                 0.0                  4.0
3                0.0                 0.0                  4.0
4                2.0                 0.0                  4.0

In [83]:
Hotel_data[(Hotel_data['avg_price_per_room']>180) & (Hotel_data['avg_price_per_room']<25)] = np.NaN
Hotel_data[(Hotel_data['lead_time']>200) & (Hotel_data['booking_status'] == 'Not_Canceled')] = np.NaN
Hotel_data[(Hotel_data['lead_time']>425) & (Hotel_data['booking_status'] == 'Canceled')] = np.NaN

In [84]:
Hotel_data.isna().sum()

Booking_ID                              1082
no_of_adults                            1082
no_of_children                          1082
no_of_weekend_nights                    1082
no_of_week_nights                       1082
type_of_meal_plan                       1082
required_car_parking_space              1082
room_type_reserved                      1082
lead_time                               1082
arrival_date                            1082
market_segment_type                     1082
repeated_guest                          1082
no_of_previous_cancellations            1082
no_of_previous_bookings_not_canceled    1082
avg_price_per_room                      1082
no_of_special_requests                  1082
booking_status                          1082
dtype: int64

In [85]:
Hotel_data.dropna(axis=0, inplace=True)
Hotel_data.isna().sum()

Booking_ID                              0
no_of_adults                            0
no_of_children                          0
no_of_weekend_nights                    0
no_of_week_nights                       0
type_of_meal_plan                       0
required_car_parking_space              0
room_type_reserved                      0
lead_time                               0
arrival_date                            0
market_segment_type                     0
repeated_guest                          0
no_of_previous_cancellations            0
no_of_previous_bookings_not_canceled    0
avg_price_per_room                      0
no_of_special_requests                  0
booking_status                          0
dtype: int64

In [86]:
Hotel_data.shape

(35188, 17)

In [87]:
X = Hotel_data.drop(["booking_status", "Booking_ID"], axis=1)
y = Hotel_data['booking_status']

In [ ]:
ord_encod = OrdinalEncoder()
y = ord_enc.fit_transform(y.values.reshape(-1, 1))
y = pd.Series(y.flatten(), name="booking_status")

In [94]:
y

0        1.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
35183    0.0
35184    1.0
35185    0.0
35186    1.0
35187    0.0
Name: booking_status, Length: 35188, dtype: float64

In [ ]:
X

,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests
1,2.0,0.0,2.0,3.0,2.0,0.0,0.0,5.0,2018-11-06,4.0,0.0,0.0,0.0,106.68,1.0
2,1.0,0.0,2.0,1.0,0.0,0.0,0.0,1.0,2018-02-28,4.0,0.0,0.0,0.0,60.00,0.0
3,2.0,0.0,0.0,2.0,0.0,0.0,0.0,211.0,2018-05-20,4.0,0.0,0.0,0.0,100.00,0.0
4,2.0,0.0,1.0,1.0,2.0,0.0,0.0,48.0,2018-04-11,4.0,0.0,0.0,0.0,94.50,0.0
5,2.0,0.0,0.0,2.0,1.0,0.0,0.0,346.0,2018-09-13,4.0,0.0,0.0,0.0,115.00,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36269,2.0,2.0,0.0,1.0,0.0,0.0,5.0,0.0,2018-10-06,4.0,0.0,0.0,0.0,216.00,0.0
36270,3.0,0.0,2.0,6.0,0.0,0.0,3.0,85.0,2018-08-03,4.0,0.0,0.0,0.0,167.80,1.0
36271,2.0,0.0,1.0,3.0,0.0,0.0,0.0,228.0,2018-10-17,4.0,0.0,0.0,0.0,90.95,2.0
36272,2.0,0.0,2.0,6.0,0.0,0.0,0.0,148.0,2018-07-01,4.0,0.0,0.0,0.0,98.39,2.0
36273,2.0,0.0,0.0,3.0,2.0,0.0,0.0,63.0,2018-04-21,4.0,0.0,0.0,0.0,94.50,0.0

In [ ]:
from sklearn.preprocessing import StandardScaler


stdsclr_trnfrm = StandardScaler()
X[spl_col] = stdsclr_trnfrm.fit_transform(X[spl_col])

X[spl_col].describe()

       avg_price_per_room     lead_time
count        3.518800e+04  3.518800e+04
mean        -1.692153e-16 -2.463516e-17
std          1.000014e+00  1.000014e+00
min         -2.958528e+00 -9.904263e-01
25%         -6.645020e-01 -7.914419e-01
50%         -1.176289e-01 -3.064172e-01
75%          4.931644e-01  4.646476e-01
max          1.238233e+01  4.208043e+00

In [102]:
X = X.drop("arrival_date", axis=1)
X.columns

Index(['no_of_adults', 'no_of_children', 'no_of_weekend_nights',
       'no_of_week_nights', 'type_of_meal_plan', 'required_car_parking_space',
       'room_type_reserved', 'lead_time', 'market_segment_type',
       'repeated_guest', 'no_of_previous_cancellations',
       'no_of_previous_bookings_not_canceled', 'avg_price_per_room',
       'no_of_special_requests'],
      dtype='object')

In [103]:
from sklearn.model_selection import train_test_split


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42, shuffle=True)

((X_train.shape, y_train.shape), (X_test.shape, y_test.shape))

(((28150, 14), (28150,)), ((7038, 14), (7038,)))

In [100]:
from sklearn.linear_model import LogisticRegression, RidgeClassifier
from sklearn.ensemble import RandomForestClassifier

In [106]:
rfclassifier = RandomForestClassifier(n_estimators=1000, n_jobs=-1)

rfclassifier.fit(X_train, y_train)

RandomForestClassifier(n_estimators=1000, n_jobs=-1)

In [107]:
y_pred = rfclassifier.predict(X_test)

In [110]:
from sklearn.metrics import classification_report, confusion_matrix


print(classification_report(y_pred=y_pred, y_true=y_test))

              precision    recall  f1-score   support

         0.0       0.85      0.80      0.83      2363
         1.0       0.90      0.93      0.92      4675

    accuracy                           0.89      7038
   macro avg       0.88      0.87      0.87      7038
weighted avg       0.89      0.89      0.89      7038

In [113]:
ord_enc.categories_

[array(['Canceled', 'Not_Canceled'], dtype=object)]

In [121]:
logcls = LogisticRegression(penalty="l1", n_jobs=-1, solver='saga')
logcls.fit(X_train, y_train)

c:\Users\Navazdeen S\miniconda3\envs\rit_datascience\lib\site-packages\sklearn\linear_model\_sag.py:350: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(

LogisticRegression(n_jobs=-1, penalty='l1', solver='saga')

In [122]:
y_pred = logcls.predict(X_test)

print(classification_report(y_pred=y_pred, y_true=y_test))

              precision    recall  f1-score   support

         0.0       0.71      0.55      0.62      2363
         1.0       0.79      0.89      0.84      4675

    accuracy                           0.77      7038
   macro avg       0.75      0.72      0.73      7038
weighted avg       0.77      0.77      0.76      7038

In [124]:
ridcls = RidgeClassifier()
ridcls.fit(X_train, y_train)

RidgeClassifier()

In [126]:
y_pred = ridcls.predict(X_test)

print(classification_report(y_pred=y_pred, y_true=y_test))

              precision    recall  f1-score   support

         0.0       0.77      0.57      0.65      2363
         1.0       0.81      0.91      0.86      4675

    accuracy                           0.80      7038
   macro avg       0.79      0.74      0.75      7038
weighted avg       0.79      0.80      0.79      7038