In [73]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [74]:
Hotel_data = pd.read_csv("./Data/Hotel Reservations.csv")
Hotel_data.head(5)

,Booking_ID,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
0,INN00001,2,0,1,2,Meal Plan 1,0,Room_Type 1,224,2017,10,2,Offline,0,0,0,65.00,0,Not_Canceled
1,INN00002,2,0,2,3,Not Selected,0,Room_Type 1,5,2018,11,6,Online,0,0,0,106.68,1,Not_Canceled
2,INN00003,1,0,2,1,Meal Plan 1,0,Room_Type 1,1,2018,2,28,Online,0,0,0,60.00,0,Canceled
3,INN00004,2,0,0,2,Meal Plan 1,0,Room_Type 1,211,2018,5,20,Online,0,0,0,100.00,0,Canceled
4,INN00005,2,0,1,1,Not Selected,0,Room_Type 1,48,2018,4,11,Online,0,0,0,94.50,0,Canceled

In [75]:
Hotel_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36275 entries, 0 to 36274
Data columns (total 19 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Booking_ID                            36275 non-null  object
 1   no_of_adults                          36275 non-null  int64
 2   no_of_children                        36275 non-null  int64
 3   no_of_weekend_nights                  36275 non-null  int64
 4   no_of_week_nights                     36275 non-null  int64
 5   type_of_meal_plan                     36275 non-null  object
 6   required_car_parking_space            36275 non-null  int64
 7   room_type_reserved                    36275 non-null  object
 8   lead_time                             36275 non-null  int64
 9   arrival_year                          36275 non-null  int64
 10  arrival_month                         36275 non-null  int64
 11  arrival_date                          36275 non-null  int64
 12  market_segment_type                   36275 non-null  object
 13  repeated_guest                        36275 non-null  int64
 14  no_of_previous_cancellations          36275 non-null  int64
 15  no_of_previous_bookings_not_canceled  36275 non-null  int64
 16  avg_price_per_room                    36275 non-null  float64
 17  no_of_special_requests                36275 non-null  int64
 18  booking_status                        36275 non-null  object
dtypes: float64(1), int64(13), object(5)
memory usage: 5.3+ MB

In [76]:
Hotel_data = Hotel_data[Hotel_data["type_of_meal_plan"] != "Meal Plan 3"]
Hotel_data.shape

(36270, 19)

In [77]:
Hotel_data["arrival_date"] = Hotel_data.apply(lambda x: str(x['arrival_year']) + "-" +str(x['arrival_month']) +  "-" +str(x['arrival_date']), axis=1)
Hotel_data.head()

,Booking_ID,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
0,INN00001,2,0,1,2,Meal Plan 1,0,Room_Type 1,224,2017,10,2017-10-2,Offline,0,0,0,65.00,0,Not_Canceled
1,INN00002,2,0,2,3,Not Selected,0,Room_Type 1,5,2018,11,2018-11-6,Online,0,0,0,106.68,1,Not_Canceled
2,INN00003,1,0,2,1,Meal Plan 1,0,Room_Type 1,1,2018,2,2018-2-28,Online,0,0,0,60.00,0,Canceled
3,INN00004,2,0,0,2,Meal Plan 1,0,Room_Type 1,211,2018,5,2018-5-20,Online,0,0,0,100.00,0,Canceled
4,INN00005,2,0,1,1,Not Selected,0,Room_Type 1,48,2018,4,2018-4-11,Online,0,0,0,94.50,0,Canceled

In [78]:
Hotel_data[Hotel_data["arrival_date"] == "2018-2-29"]['arrival_date']

# Hotel_data["arrival_date"] = pd.to_datetime(Hotel_data["arrival_date"]).dt.date
# Hotel_data["arrival_date"].head()

2626     2018-2-29
3677     2018-2-29
5600     2018-2-29
6343     2018-2-29
7648     2018-2-29
8000     2018-2-29
8989     2018-2-29
9153     2018-2-29
9245     2018-2-29
9664     2018-2-29
9934     2018-2-29
10593    2018-2-29
10652    2018-2-29
10747    2018-2-29
11881    2018-2-29
13958    2018-2-29
14304    2018-2-29
15363    2018-2-29
15438    2018-2-29
17202    2018-2-29
18380    2018-2-29
18534    2018-2-29
18680    2018-2-29
19013    2018-2-29
20419    2018-2-29
21674    2018-2-29
21688    2018-2-29
26108    2018-2-29
27559    2018-2-29
27928    2018-2-29
30552    2018-2-29
30616    2018-2-29
30632    2018-2-29
30839    2018-2-29
32041    2018-2-29
34638    2018-2-29
35481    2018-2-29
Name: arrival_date, dtype: object

In [79]:
cat = ['type_of_meal_plan', 'room_type_reserved', 'market_segment_type']
cols_to_remove = ["arrival_year","arrival_month"]
spl_col = ['avg_price_per_room', 'lead_time']

In [80]:
for col in cols_to_remove:
    Hotel_data.drop(col, axis=1, inplace=True)

In [81]:
from sklearn.preprocessing import OrdinalEncoder
ord_enc = OrdinalEncoder(handle_unknown='use_encoded_value', unknown_value=-1)

In [82]:
Hotel_data[cat] = ord_enc.fit_transform(Hotel_data[cat])

In [83]:
Hotel_data[cat].head()

   type_of_meal_plan  room_type_reserved  market_segment_type
0                0.0                 0.0                  3.0
1                2.0                 0.0                  4.0
2                0.0                 0.0                  4.0
3                0.0                 0.0                  4.0
4                2.0                 0.0                  4.0

In [84]:
Hotel_data[(Hotel_data['avg_price_per_room']>180) & (Hotel_data['avg_price_per_room']<25)] = np.NaN
Hotel_data[(Hotel_data['lead_time']>200) & (Hotel_data['booking_status'] == 'Not_Canceled')] = np.NaN
Hotel_data[(Hotel_data['lead_time']>425) & (Hotel_data['booking_status'] == 'Canceled')] = np.NaN

In [85]:
Hotel_data.isna().sum()

Booking_ID                              1082
no_of_adults                            1082
no_of_children                          1082
no_of_weekend_nights                    1082
no_of_week_nights                       1082
type_of_meal_plan                       1082
required_car_parking_space              1082
room_type_reserved                      1082
lead_time                               1082
arrival_date                            1082
market_segment_type                     1082
repeated_guest                          1082
no_of_previous_cancellations            1082
no_of_previous_bookings_not_canceled    1082
avg_price_per_room                      1082
no_of_special_requests                  1082
booking_status                          1082
dtype: int64

In [86]:
Hotel_data.dropna(axis=0, inplace=True)
Hotel_data.isna().sum()

Booking_ID                              0
no_of_adults                            0
no_of_children                          0
no_of_weekend_nights                    0
no_of_week_nights                       0
type_of_meal_plan                       0
required_car_parking_space              0
room_type_reserved                      0
lead_time                               0
arrival_date                            0
market_segment_type                     0
repeated_guest                          0
no_of_previous_cancellations            0
no_of_previous_bookings_not_canceled    0
avg_price_per_room                      0
no_of_special_requests                  0
booking_status                          0
dtype: int64

In [87]:
Hotel_data.shape

(35188, 17)

In [88]:
X = Hotel_data.drop(["booking_status", "Booking_ID"], axis=1)
y = Hotel_data['booking_status']

In [89]:
y

1        Not_Canceled
2            Canceled
3            Canceled
4            Canceled
5            Canceled
             ...
36269        Canceled
36270    Not_Canceled
36271        Canceled
36272    Not_Canceled
36273        Canceled
Name: booking_status, Length: 35188, dtype: object

In [90]:
X

,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests
1,2.0,0.0,2.0,3.0,2.0,0.0,0.0,5.0,2018-11-6,4.0,0.0,0.0,0.0,106.68,1.0
2,1.0,0.0,2.0,1.0,0.0,0.0,0.0,1.0,2018-2-28,4.0,0.0,0.0,0.0,60.00,0.0
3,2.0,0.0,0.0,2.0,0.0,0.0,0.0,211.0,2018-5-20,4.0,0.0,0.0,0.0,100.00,0.0
4,2.0,0.0,1.0,1.0,2.0,0.0,0.0,48.0,2018-4-11,4.0,0.0,0.0,0.0,94.50,0.0
5,2.0,0.0,0.0,2.0,1.0,0.0,0.0,346.0,2018-9-13,4.0,0.0,0.0,0.0,115.00,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36269,2.0,2.0,0.0,1.0,0.0,0.0,5.0,0.0,2018-10-6,4.0,0.0,0.0,0.0,216.00,0.0
36270,3.0,0.0,2.0,6.0,0.0,0.0,3.0,85.0,2018-8-3,4.0,0.0,0.0,0.0,167.80,1.0
36271,2.0,0.0,1.0,3.0,0.0,0.0,0.0,228.0,2018-10-17,4.0,0.0,0.0,0.0,90.95,2.0
36272,2.0,0.0,2.0,6.0,0.0,0.0,0.0,148.0,2018-7-1,4.0,0.0,0.0,0.0,98.39,2.0
36273,2.0,0.0,0.0,3.0,2.0,0.0,0.0,63.0,2018-4-21,4.0,0.0,0.0,0.0,94.50,0.0

In [91]:
from sklearn.preprocessing import StandardScaler


stdsclr_trnfrm = StandardScaler()
X[spl_col] = stdsclr_trnfrm.fit_transform(X[spl_col])

X[spl_col].describe()

       avg_price_per_room     lead_time
count        3.518800e+04  3.518800e+04
mean        -1.692153e-16 -2.463516e-17
std          1.000014e+00  1.000014e+00
min         -2.958528e+00 -9.904263e-01
25%         -6.645020e-01 -7.914419e-01
50%         -1.176289e-01 -3.064172e-01
75%          4.931644e-01  4.646476e-01
max          1.238233e+01  4.208043e+00

In [92]:
X = X.drop("arrival_date", axis=1)
X.columns

Index(['no_of_adults', 'no_of_children', 'no_of_weekend_nights',
       'no_of_week_nights', 'type_of_meal_plan', 'required_car_parking_space',
       'room_type_reserved', 'lead_time', 'market_segment_type',
       'repeated_guest', 'no_of_previous_cancellations',
       'no_of_previous_bookings_not_canceled', 'avg_price_per_room',
       'no_of_special_requests'],
      dtype='object')