# **Intro to Datascience**

#### *Database*

*It is a piece of software that stores and manages data*

*SQL - Structure Query language*

**Datascience Flow chart**

<img src="flowchart.png" alt="Flowchart" width="800px">

***List of common databases:***

- MySQL
- sqllite
- Oracle
- Postgres
- Neo4j

### **Data Manipulation Tools in python**

- Numpy
- Pandas

### **Data Visualization Tools in python**

- Matplotlib
- Seaborne

### **ML Algorithm package in python**

- Scipy 
- Scikit Learn

## *MySQL*

***Installing configuring MySQL database***
- *Download from this [link](https://dev.mysql.com/downloads/file/?id=514518)*
- *Install MySQL on your personal Computer by following this [Video](https://www.youtube.com/watch?v=IqYfmckxeyE)*
- *Configure Username as `root`*
- *Configure Password as `root@123`*

***Operations in MySQL***

*CRUD - Create Read Update Delete*

### Data Definition Language(DDL)

1. CREATE
2. ALTER
3. DROP
4. TRUNCATE

### Data Manipulation Language(DML)

1. SELECT
2. INSERT
3. UPDATE
4. DELETE

### SQL QUERY

```
USE     world       ;
 |         |        |
command  arguments semicolon
```

```
USE world;

-- show all the tables inside the database.
SHOW tables;

-- select command select the specific column, use * if we need select all column
SELECT * FROM city;
SELECT ID, Name, District FROM city;

-- filtering in mysql Where
SELECT * FROM city WHERE CountryCode="IND" AND Name="Delhi";
SELECT * FROM city WHERE population > 2000000;

SELECT * FROM countrylanguage;

SELECT * FROM countrylanguage WHERE IsOfficial = "T" AND CountryCode = "IND";

SELECT * FROM countrylanguage WHERE IsOfficial="T";

-- Functions in SQL
SELECT avg(population) FROM city;

SELECT * FROM city WHERE population > 350468;

SELECT count(ID) FROM city;

SELECT count(CountryCode) FROM city;

SELECT count(distinct CountryCode) FROM city;

SELECT ID, Name, District, length(Name) AS "Name_Length" FROM city;

SELECT concat(Name, District, population) AS "Concat_namedistrict", Name, District FROM city;

SELECT upper(District), District FROM city;

SELECT lower(District), District FROM city;
```