In [2]:
import pandas as pd
import numpy as np

***1. Series*** - *One dimensional Table data*
</br>
***2. DataFrame*** - *Multi dimensional Table Data*

In [6]:
simple_series = pd.Series(np.random.randint(2, 20, size=(8), dtype="int"))
simple_series

0     7
1     6
2    13
3     6
4    11
5     9
6    10
7    17
dtype: int32

In [7]:
simple_series.sum()

79

In [8]:
simple_series.min()

6

In [9]:
simple_series.max()

17

In [10]:
simple_series.std()

3.7961446607992015

In [11]:
simple_series.value_counts()

6     2
7     1
13    1
11    1
9     1
10    1
17    1
dtype: int64

In [13]:
simple_series.index

RangeIndex(start=0, stop=8, step=1)

In [16]:
simple_series.unique()

array([ 7,  6, 13, 11,  9, 10, 17])

In [17]:
simple_series.nunique()

7

In [19]:
simple_series.size

8

In [24]:
print(simple_series.T)
print(simple_series.T.shape)

0     7
1     6
2    13
3     6
4    11
5     9
6    10
7    17
dtype: int32
(8,)

In [26]:
simple_series.shape

(8,)

In [28]:
simple_series.name = "Age"
simple_series

0     7
1     6
2    13
3     6
4    11
5     9
6    10
7    17
Name: Age, dtype: int32

In [29]:
simple_series.ndim

1

In [31]:
simple_series.agg(['min', 'max', 'std', 'var', 'mean'])

min      6.000000
max     17.000000
std      3.796145
var     14.410714
mean     9.875000
Name: Age, dtype: float64

In [32]:
simple_series.apply(lambda x : x*2)

0    14
1    12
2    26
3    12
4    22
5    18
6    20
7    34
Name: Age, dtype: int64

In [33]:
def mul(x):
    return x*2

simple_series.apply(mul)

0    14
1    12
2    26
3    12
4    22
5    18
6    20
7    34
Name: Age, dtype: int64

#### Assignment III on 18-12-2022
1. datatime
2. concat two series object
3. convert dtype 
4. filter

`Extra : groupby`