# Introduction to Full Stack Development

**What is URL ?**

*URL is uniform Resource Locator, it is specific and unique to each and every websites, used find the websites*

**Protocols**

*To transfer a HTMl(Hyper Text Markup Language) file we use https(Hyper Text Transfer Protocol)*

```Note: Try pinging google.com command: "ping google.com" ```

*This is how url is read by the internet*

![url](url.png)

***FLowchart of full end to end website development***

<img src="flowchart.png" alt="flowchart" width="500" height="400">

***Backend Softwares***
- Database (MySQL)
- Python(Django) -- web framework

***Frontend Softwares***
- HTML
- CSS
- Bootstrap -- responsive css framework

# Database

## *MySQL*

***Installing configuring MySQL database***
- *Download from this [link](https://dev.mysql.com/downloads/file/?id=514518)*
- *Install MySQL on your personal Computer by following this [Video](https://www.youtube.com/watch?v=IqYfmckxeyE)*
- *Configure Username as `root`*
- *Configure Password as `root@123`*

### Data Definition Language(DDL)

1. CREATE
2. ALTER
3. DROP
4. TRUNCATE

### Data Manipulation Language(DML)

1. SELECT
2. INSERT
3. UPDATE
4. DELETE

### SQL QUERY

```
USE     world       ;
 |         |        |
command  arguments colon
```

```
USE world ;

SHOW DATABASES;

SHOW TABLES;

SELECT ID, Name, CountryCode FROM city LIMIT 10;

-- Filter conditions Where 
SELECT ID, Name, CountryCode FROM city WHERE CountryCode = "IND" OR CountryCode = "AFG" LIMIT 5;

-- SQL Functions
SELECT count(ID) FROM city;

SELECT concat(ID, NAME) FROM city;

SELECT Name, max(population) AS "Max_pop" FROM city;
SELECT Name, min(population) AS "Max_pop" FROM city;
SELECT avg(population) AS "Max_pop" FROM city;

SELECT count(CountryCode) FROM city;
SELECT count(distinct CountryCode) FROM city;


SELECT lower(CountryCode) AS "lower_countrycode", CountryCode FROM city;
SELECT upper(district) AS "upper_CountryCode", district FROM city;
```

### Data Types

1. Numeric
   1. INT = -214783648 to 214783647
   2. BIGINT
   3. TINYINT -128 to 127
   4. FLOAT - decimal point
2. STRING
   1. char - char(size) EG: char(5) - kamalesh max size = 1-255
   2. varchar - max size = 1-65535
   3. TEXT
3. DateTime
   1. Date - "2002-10-23" "yyyy-mm-dd"
   2. Time - "10:35:20" "HH:MM:SS"
   3. DateTime - "2002-10-23 10:35:20" "yyyy-mm-dd HH:MM:SS"

```
-- Create a database in MySQL

CREATE DATABASE Company;
USE Company;

CREATE TABLE Employee(Name Char(35), Employee_Number int, Work_start_time time, joining_date date);

-- Insert Values into a table

INSERT INTO Employee(Name, Employee_Number, Work_start_time, joining_date) values("Surya", 2321, "10:35", "2021-01-12");
INSERT INTO Employee(Name, Employee_Number, joining_date) values("Ajay", 3454, "2021-02-15");
INSERT INTO Employee Values("Prakash", 4763, "12:10", "2012-05-10");

SELECT * FROM Employee;

-- ALTER THE TABLE
ALTER TABLE Employee ADD COLUMN Work_end_time time;
ALTER TABLE Employee MODIFY COLUMN Name char(35);
ALTER TABLE Employee DROP COLUMN Work_end_time;
ALTER TABLE Employee RENAME COLUMN Employee_Number TO Employee_id;


SELECT * FROM Employee;

-- DROP IN MySQL
CREATE TABLE Test(Name Char(35), Employee_Number int, Work_start_time time, joining_date date);
DROP TABLE test;

CREATE DATABASE Test;
DROP DATABASE Test;
```

### Constraints in MySQL

1. primary key
2. auto increment
3. unique 
4. not null
5. check 
6. default
7. Foreign key

### Advanced SQL FUNCTIONS

1. GROUP BY
2. Having
3. where
4. BETWEEN
5. DATEDIFF
6. DATE FUNCTIONS

***Find number of cities in world database***
******

```
DROP database school;

Create database school;

use school;

Create table class(id int primary key auto_increment, standard char(35), section char(1));

create table students(
roll_nu int primary key auto_increment, 
Name char(100), 
age int, 
joining_date date default "2022-11-26", 
class_id int, 
foreign key (class_id) references class(id));

INSERT INTO class(standard, section) values("8th std", "A"), ("8th std", "B"), ("8th std", "C"), ("9th std", "A"), ("9th std", "B");

select * from class;

INSERT INTO students(Name, age, class_id) values("Prakash", 12, 1), ("Arun", 13, 1), ("Om", 11, 2);

select * from students;

select * from students as s inner join class as c on c.id = s.class_id;

-- world

Use world;


select * from city;

select * from country;



-- SQL ADVANCED FUNCTIONS
-- GROUP BY


select * from city;

select count(distinct Name) as City_count, CountryCode, sum(Population) as Total_pop from city group by CountryCode having Total_pop < 10000;

select * from countrylanguage;


select countrycode as country,count(isofficial) as unofficial ,sum(percentage) as percentage 
from countrylanguage where isofficial="F" group by countrycode;

-- ORDER BY 

select Name, CountryCode from city order by countryCode, Name;


```