#### `pip install ipykernel`
#### file name should end with "ipynb"
#### Copy and paste this in the terminal to make the notebook work, This will be the one time setup no need to do it for everytime

### LOGICAL OPERATORS

#### AND Table

* True and True -> True
* True and False -> False
* False and True -> False
* False and False -> False

#### OR Table 

* True or True -> True
* True or False -> True
* False or True -> True
* False or False -> False

##### For loop syntax
` for var_name in range():
    code comes here
`

* **Any number divided by 10 will always give you the same number with one decimal from end**

* **Any number Mod by 10 will give you the last digit as the reminder of the same number**

In [48]:
print("division:",125/10,"\nModulus:", 125%10)

division: 12.5
Modulus: 5

In [ ]:
for num in range(1, 10):
    print(num)

In [15]:
for num in [1, 2, 4, 6, 8]:
    print('hi', num)

hi 1
hi 2
hi 4
hi 6
hi 8

**Printing the digit from the number in the reverse order**

In [16]:
number = 4571 # 457 # 45 # 4
# 1
# 7
# 5
# 4

for X in range(0, 4):
    print(number % 10)
    number = int(number/10)

1
7
5
4

### Exercise:
* What is prime number ? how to check prime number?
* What is fibonacci sequence? how to create fibonacci sequence?
* perfect number? how to check perfect number ?
* L.C.M and H.C.F ?

**Find whether a number is prime or not**

In [13]:
# Prime Number: A number that can only be divided by 1 and by self
number = 12 # if Prime number True else False

# number should be divided starts from 2 to number-1(13 -> 13 is not divisibe by from 2 to 12 so `True`)

for bet_num in range(2, number):
    if number % bet_num == 0:
        print("not prime")
        break
else:
    print("prime")

not prime

**Create a fibonacci sequence ?**

![fibonacci.png](https://www.scaler.com/topics/media/Fibonacci-Series-in-Java-768x622.webp "fibonacci")

In [14]:
# write your code for fibonacci sequence here:

#### While loop in python

#### syntax:
`while condtion:
    code
`

**while loop continues to execute untill the given condition become false**

In [ ]:
# While loop example

i = 0
while i < 10:
    print(i)
    i=i+1 # i(0) + 1 --> increment i value by 1 and store it to i

**Dictionaries in python**

*Dictionaries in python are stored key:value pairs, like sets dictionaries are unordered.*

**Syntax**
`{key:value, key:value}` ***{'name':'Raju', 'age': 12}***

In [23]:
student1 = {
    'fullname':'Raju',
    'age': 12,
    'height':167,
    'weight':98
}

print(student1)
print(student1['height'])

{'fullname': 'Raju', 'age': 12, 'height': 167, 'weight': 98}
167

**Create a varible called "cls" dictionary which has following prperties ('section', 'strength', 'present', 'absent')**

In [34]:
cls = {
    'section':'B',
    'strength':50,
    'present':45,
    'absent':5
}

cls['section'] = 'C' # updata a value in a dictionary
print(cls, cls['section'])

{'section': 'C', 'strength': 50, 'present': 45, 'absent': 5} C

**Methods in dictionaries**
* `keys()` -> return all the keys in the dictionaries
* `values()` -> return all the values in the dictionaries
* `items()` -> return all the key,values in the dictionaries as list
* `update()` -> add new key,values pair to the dictionaries
* `pop()` -> remove key,values pair from the dictionaries
* `clear()` -> clear all key,values pair from the dictionaries

In [26]:
print(cls.keys())

dict_keys(['section', 'strength', 'present', 'absent'])

In [32]:
print(cls.values())

dict_values(['B', 50, 45, 5])

In [27]:
print(cls.items())

dict_items([('section', 'B'), ('strength', 50), ('present', 45), ('absent', 5)])

In [28]:
cls.update({'newlyadded':'newone'})
print(cls)

{'section': 'B', 'strength': 50, 'present': 45, 'absent': 5, 'newlyadded': 'newone'}

In [29]:
cls.pop('newlyadded')
print(cls)

{'section': 'B', 'strength': 50, 'present': 45, 'absent': 5}

In [30]:
cls.clear()
print(cls)

{}

**Function in python**

*function in python is used to repeatation of code for specific kinds of task*

**Syntax: `def function_name(args): code`**

In [42]:
# Example for a function in python

def say_hello(name, age):
    print('Hello', name, "your age is", age)


say_hello("john", 12) # passing arguments to function

say_hello('george', 24)

Hello john your age is 12
Hello george your age is 24

**Create function which takes two arguments and print addition, subtraction, multiplication, division of that two**

In [5]:
# solution

def calculator(a=4, b=6):
    print(a,'+', b, '=', a + b)
    print(a,'-', b, '=', a - b)
    print(a,'*', b, '=', a * b)
    print(a,'/', b, '=', a / b)

# a = int(input("enter number 1"))
# b = int(input("enter number 2"))

calculator()

4 + 6 = 10
4 - 6 = -2
4 * 6 = 24
4 / 6 = 0.6666666666666666

**Create a function which takes one string argument and convert upper, lower, capitalize and prints ?**

In [49]:
# solution

**Create a function which converts celsius to fahreinheit:**

In [6]:
# solution # f =(0°C × 9/5) + 32 

def fahreinheit(celsius):
    f = (celsius * 9/5) + 32
    print(f)


fahreinheit(32)

89.6

**Using Return in function to get the value from function**

In [12]:

def fahreinheit(celsius):
    f = (celsius * 9/5) + 32
    return f

converted_value = fahreinheit(20)

print(converted_value)

68.0

**Lambda function**

*Lambda function or anonymous function or single line function is a function written in only single line*

**Syntax** `lambda arg_name: code`

In [13]:
# Example for lambda function

lmb = lambda name : print("hello to", name)

lmb('john')

hello to john

**Create a lambda function which converts fahreinheit to celsius and return celsius**

In [16]:
# Solution # C = (F − 32) × 5/9 

fah_cel = lambda fahreinheit :  (fahreinheit - 32) * 5/9

converted_value = fah_cel(89.6)

print(converted_value)

32.0

### List Comprehension and slicing in python

`Note:`  ***Slicing can only be done on list, string, tuple***

`list()` -> to convert range or any iterables into list.

`tuple()` -> to convert range or any iterables into tuple.

`set()` -> to convert range or any iterables into set.

In [17]:
new_list = list(range(1, 21, 1))

print(new_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

**Slicing list in python**
```
new_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

new_list[3] # 4

```

In [21]:
new_list[2 : 6]  #[start : stop] returns all the elements in between the given index positions

[3, 4, 5, 6]

In [22]:
new_list[2 : ] #[start : ] if stop position not specified will return all the element from starting position

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [23]:
new_list[2 : 10 : 2] # [start:stop:step] step will increase step count of the element to be returned

[3, 5, 7, 9]

In [24]:
list_man = ["apple", "mango", "orange", "papaya", "banana"]

list_man[ : 3]

['apple', 'mango', 'orange']

In [25]:
list_man[ : : 2]

['apple', 'orange', 'banana']

In [26]:
list_man[ : : -1]

['banana', 'papaya', 'orange', 'mango', 'apple']

In [27]:
list_man[ : : -2]

['banana', 'orange', 'apple']

**Create a function which takes one string argument and return whether it's a palindrome or not**

*Example for palindrome 'malayalam'*

In [31]:
# Solution

def palindrome(var_name):
    rev = var_name[ : : -1] 
    if var_name == rev:
        print("palindrome")
    else:
        print("not a palindrome")


palindrome('malayalam')

palindrome

**solve the same question using lambda function which return only True if palindrom and False if not**

In [32]:
# solution

check_palindrome = lambda var_name : var_name == var_name[: : -1]

print(check_palindrome('malayalam'), check_palindrome('notebook'))

True False

### List Comprehension in python

In [36]:
list_comp = [x**3 for x in range(1, 11)] # creating list using only the for loop
list_comp

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [38]:
list_comp_if = [y for y in range(1, 31) if y % 2 == 0]

list_comp_if

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [39]:
list_comp_2 = [(y, y**2) for y in range(1, 11)]

list_comp_2

[(1, 1),
 (2, 4),
 (3, 9),
 (4, 16),
 (5, 25),
 (6, 36),
 (7, 49),
 (8, 64),
 (9, 81),
 (10, 100)]

`Note:`*Checking specific element in list or tuple or set or dict* ***using 'in'***

In [42]:
(7 in [1, 2, 5, 7, 0], 8 in [1, 2, 4, 6, 9])

(True, False)

**Create list which should use this formula `x = 2y + 1` where y = 1 to 20**

In [46]:
# Solution # list_comp_2 = [(y, y**2) for y in range(1, 11)]

my_list = [(2*y)+1 for y in range(1, 21)]

my_list

[3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41]

**Create a list which should contains 2 dimensional points of a square(x, y)**

*Example for a square with width 20, height 20 starting from origin(0, 0)* `[(0, 0), (20, 0), (20, 20), (0, 20)]`

In [48]:
#Solution